<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <span class="light"><img class="shield-icon" src="/assets/img/logo.png">Production Report</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                <li>
                    <div class="page-scroll" >{{username}}</div>
                </li>

                <li>
                    <a class="page-scroll" href="/pricing/">Pricing</a>
                </li>

                <li>
                    <a class="page-scroll" href="/inventory/">Inventory</a>
                </li>

                <li>
                    <a class="page-scroll" href="/dailyproduction/">Daily Production</a>
                </li>

                <li>
                    <a class="page-scroll" href="/timecontrol/">Time Control</a>
                </li>
                {{#if isAuthenticated}}
                <!-- isAuthenticated is given by middle ware-->
                <li>
                    <a class="page-scroll" href="/trips/">My Trips</a>
                </li>
                <li>
                    <a href="/users/sign-out" class="page-scroll" data-toggle="modal">Logout</a>
                </li>

                {{else}}
                <li>
                    <a class="page-scroll" data-toggle="modal" data-target="#login-modal">Login/Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-app.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyCQzqfCjA8dsgDq8vy2n1tW392HBEwSFSY",
        authDomain: "bootcampproject2-1abd5.firebaseapp.com",
        projectId: "bootcampproject2-1abd5",
        storageBucket: "bootcampproject2-1abd5.appspot.com",
        messagingSenderId: "672212372076",
        appId: "1:672212372076:web:dee6ed4399134dec732649"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);


</script>