<!-- Navigation -->
<!--JavaScript at end of body for optimized loading-->
{{!-- <script type="text/javascript" src="./css/materialize.css"></script> --}}
<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Car Material Production</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/materialmaster">Master</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/dailyproduction">Daily Production</a></li>
            <li><a href="/timecontrol">Time Control</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>
<!-- #091E42 -->
<!-- give seperate color class to each page -->