<div class="container">
	<div style="display:flex;align-items: center;justify-content: space-between;">
		<h3 style="margin-top: 0px;margin-bottom: 10px">Daily Production</h3>
		<div style="display:inline-flex;align-items: center">
			<a class="btn-floating"><i class="material-icons">chevron_left</i></a>
			<h5 style="margin-top: 0px;margin-bottom: 0px">&nbsp &nbsp &nbsp{{today}}&nbsp &nbsp &nbsp</h5>
			<a class="btn-floating"><i class="material-icons">chevron_right</i></a>
		</div>

		<form action="#" style="display:inline-flex;">
			<p style="margin-right: 10px">
				<label>
					<input name="group1" type="radio" checked />
					<span>1st</span>
				</label>
			</p>
			<p>
				<label>
					<input name="group1" type="radio" />
					<span>2nd</span>
				</label>
			</p>
		</form>
	</div>

	<div class="collection">
		<a href="#!" class="collection-item">Alvin</a>
		<a href="#!" class="collection-item active">Alvin</a>
		<a href="#!" class="collection-item">Alvin</a>
		<a href="#!" class="collection-item">Alvin</a>
	</div>
</div>