<link rel="stylesheet" href="/assets/css/trips.css">
{{> nav }}
{{> login-modal }}
{{> new-trip-modal }}
<div class="all-trips-container container">
	
	<div class="row">
		<div class="trip-container col-xs-12 col-sm-6 col-lg-6">
			<div class="trip-subcontainer trip-default">
				<h3 class="lead">
          Report inventory
					{{uid}}
				</h3>
				
			</div>
		</div>
	<button id="add-trip-button" data-toggle="modal" data-target="#squarespaceModal" type="button" class="btn btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
	</div>
</div>