<div>
	<h1>Inventory</h1>
	<ul class="collapsible">
		{{#each kiamaterials}}
		<li>
			<div class="collapsible-header"><i class="material-icons">filter_drama</i>
			{{material}} {{description}} {{pgn}}</div>
			<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
		</li>
		{{/each}}
	</ul>
</div>

<script src="/js/js_in_handlebars/inventory/inventory.js"></script>