<div class="collection">
    <a href="#!" class="collection-item"><span class="badge">1</span>Inventory</a>
    <a href="#!" class="collection-item"><span class="new badge">4</span>Production Report</a>
    <a href="#!" class="collection-item">Time Control</a>
    <a href="#!" class="collection-item"><span class="badge">14</span>Production Report - (Desempeno Junta de Produccion)</a>
</div>
